<footer [ngStyle]="getDynamicStyles()">
    <div class="footer-container">
      <!--  <p>Chatterie British kingdom</p>
        <p>Département 77, région Seine et marne</p>
        <p>Élevage familial déclaré, N°SIRET : 84432325300014</p>
        <p>Adhérent SNPCC - N°de capacité 2009/37/07</p>
        -->
  
      <p>Copyright © 2024 Chatterie British kingdom - Elevage de chats British Shorthair & Longhair</p>
      <a class="link" href="/mentions-legales">Mentions légales </a> <span class="tiret">- </span><a class="link" href="politique-confidentialite">Politique de confidentialité</a><span class="tiret"><!-- - --> </span><!-- <a href=""> Politique des cookies</a> -->
    <!--   <a class="link" href="">Mentions légales </a> <span class="tiret">- </span><a class="link" href="">Politique de
        confidentialité</a><span class="tiret">- </span><a class="link" href=""> Politique des cookies</a> -->
      <div class="social-icons">
        <!-- Insérez ici les icônes des réseaux sociaux -->
      </div>
      <div class="contact-icons">
        <!-- Insérez ici les icônes pour le mail et la map -->
      </div>
      <p>Site créé par <a class="link-eleveur-connect" href="https://www.eleveur-connect.fr/" target="_blank"> <span class="span-eleveur-connect">Eleveur-
          Connect </span></a></p> <!-- Ajout de la mention avec le lien vers le site -->
  
    </div>
  </footer>