/* footer.component.css */

footer {
    /* background-color: #58879B; */
    padding: 20px;
    text-align: center;
    vertical-align:middle;
  }
  
  .footer-container {
    max-width: 800px;
    margin: 0 auto;
    color: #333;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .footer-container p {
    margin: 18px 0;
    color: white;
    font-size: 16px;
    font-family: Conforta;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .link
  {
    
    font-family: Conforta;
    color: #d39542;
    font-size: 16px;
  }

.link-eleveur-connect
{
  text-decoration: none;
  font-family: Conforta;
  color: #f7f7f7;
  font-size: 16px;
}


.span-eleveur-connect
{
  font-weight: bold;
}


  .tiret
  {
    font-family: Conforta;
    color: #d39542;
    font-size: 16px;


  }
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #333;

  }
  
  .contact-icons {
    margin-top: 20px;
  }
  
  .contact-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
  }
  
  