

<br> <br>

<h1 class="mentionLegalTitle">Politique de confidentialité</h1>




<div class="content">
    
    <h1>Politique de confidentialité</h1>
    <br>
    <p>Cette politique de confidentialité décrit comment AMIEL Zeitoun, exploitant du site chatterie british kingdom, collecte, utilise et protège les informations que vous nous fournissez lorsque vous utilisez ce site web.</p>
    <br>
    
    <h2>Collecte et utilisation des informations</h2>
    <br>

    <p>Nous collectons des informations personnelles lorsque vous vous inscrivez sur notre site, passez une commande, vous abonnez à notre newsletter ou remplissez un formulaire. Les informations que nous collectons peuvent inclure votre nom, votre adresse e-mail, votre adresse postale et d'autres informations pertinentes.</p>

    <p>Nous utilisons ces informations pour traiter vos commandes, vous envoyer des informations sur nos produits et services, personnaliser votre expérience et améliorer notre site web.</p>
    <br>

    <h2>Protection des informations</h2>
    <br>

    <p>Nous mettons en œuvre diverses mesures de sécurité pour garantir la sécurité de vos informations personnelles lorsque vous passez une commande ou accédez à vos informations personnelles.</p>

    <p>Nous utilisons un serveur sécurisé et toutes les informations sensibles que vous fournissez sont cryptées via la technologie SSL (Secure Socket Layer).</p>
    <br>

    <h2>Divulgation à des tiers</h2>
    <br>

    <p>Nous ne vendons, n'échangeons ni ne transférons vos informations personnelles identifiables à des tiers. Cela n'inclut pas les tiers de confiance qui nous aident à exploiter notre site web ou à mener nos activités, tant que ces parties acceptent de garder ces informations confidentielles.</p>
    <br>

    <h2>Cookies</h2>
    <br>

    <p>Nous utilisons des cookies pour vous offrir une meilleure expérience utilisateur. Les cookies sont de petits fichiers texte placés sur votre disque dur par un serveur de pages web. Ils ne peuvent pas être utilisés pour exécuter des programmes ou transmettre des virus à votre ordinateur. Les cookies sont utilisés pour enregistrer et suivre les préférences des visiteurs et pour fournir des données de suivi anonymes à des applications tierces comme Google Analytics.</p>
    <br>

    <h2>Consentement</h2>
    <br>

    <p>En utilisant notre site web, vous consentez à notre politique de confidentialité.</p>
    <br>

    <h2>Mises à jour de la politique de confidentialité</h2>
    <br>

    <p>Si nous décidons de modifier notre politique de confidentialité, nous publierons ces changements sur cette page.</p>

    <p>Cette politique de confidentialité a été mise à jour pour la dernière fois le 13/04/2024.</p>
    <br>

    <h2>Contact</h2>
    <br>

    <p>Pour toute question concernant ces conditions d'utilisation, veuillez nous contacter à <a href="mailto:chatterie.british.kingdom@gmail.com"><span [innerHTML]="'chatterie.british.kingdom' + '&#64;' + 'gmail.com'"></span></a>.</p>

</div>

<br><br><br>

<!-- <app-footer-accueil></app-footer-accueil> -->
