<nav class="navUser" [ngStyle]="fontStyleMenu().fontFamily" *ngIf="menu()">
    <div class="mobile-menu-button" (click)="toggleMobileMenu()" style="text-align: center">
      <mat-icon style="font-size: 30px;">menu</mat-icon>
    </div>

    <ul *ngIf="!isMobile()">
      <li *ngFor="let menuItem of menu(); let i = index">
        <a [routerLink]="['/', 'males', 'femelles', 'chatons', 'conditions', 'livre-dor', 'contact'][i]"
          [style.color]="colorMenu()">
          {{ menuItem }}
        </a>
      </li>
    </ul>
  </nav>
  
  
  