.image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    /* Définissez la largeur souhaitée pour le conteneur */
}



.image-container .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Crée une grille avec 3 colonnes égales */
    gap: 20px;
}

.image-container .two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Crée une grille avec 3 colonnes égales */
    gap: 60px;
}

.image-container .one-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Crée une grille avec 3 colonnes égales */
    gap: 60px;
}

.image-container .image-grid>div {
    text-align: center;
    margin: 0 40px;
}

.rounded-image {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-top: 30px;

}

.rounded-image.loaded {
    border-radius: 50%;
    width: 230px;
    height: 230px;
    margin-top: 30px;
    transition: width 2s ease;
}

.rounded-image:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.name {
    margin-top: -5px;
    margin-bottom: -5px;
    width: 250px;
    /* margin: -5px; */
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    /* font-size: 18px; */
    color: #233943;
    text-align: center;
    /*  padding-left: 20%; */
}

.gray-line {
    /* border: 2px solid #454141; */
    margin: 20px auto;
    width: 40%;
}

.description {
    text-align: center;
    margin: 35px auto;
    width: 50%;
}

.description h3 {
    margin-bottom: 30px;
    /* color: rgb(41, 41, 41); */
    /* font-family: corben, serif; */
}

.description p {
    margin: -5px;
    text-align: left;
}




@media (max-width: 1024px) {

    .image-container .image-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Crée une grille avec 3 colonnes égales */
        gap: 60px;
    }

}


@media (max-width: 720px) {

    .image-container .image-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* Crée une grille avec 3 colonnes égales */
        gap: 60px;
    }

}



@media (max-width: 580px) {

    .image-container .two-columns {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* Crée une grille avec 3 colonnes égales */
        gap: 60px;
    }

}


