
<br> <br>

<h1 class="mentionLegalTitle">Mention légale</h1>




<div class="content">
    
    <h2>Propriété intellectuelle</h2>
    <p>Ce site est exploité par AMIEL Zeitoun, entrepreneur individuel enregistré sous le numéro Siret 84406443600026, dont le siège social est situé au 12 B Rue des Suisses, 77280 Othis, FRANCE.</p>
    <p>Tous les contenus présents sur ce site, y compris mais sans s'y limiter les textes, les graphiques, les logos, les images, les clips audio et vidéo, sont la propriété exclusive de AMIEL Zeitoun ou de ses fournisseurs de contenu, et sont protégés par les lois nationales et internationales sur les droits d'auteur, les marques déposées et autres droits de propriété intellectuelle applicables. Toute utilisation non autorisée de ces contenus est strictement interdite.</p>

    <h2>Protection des données</h2>
    <p>Nous nous engageons à protéger vos données personnelles conformément à notre politique de confidentialité. En utilisant ce site, vous consentez à la collecte et à l'utilisation de vos données conformément à cette politique.</p>

    <h2>Liens vers des sites tiers</h2>
    <p>Ce site peut contenir des liens vers des sites web de tiers. Ces liens sont fournis uniquement pour votre commodité et n'impliquent pas notre approbation de leur contenu. Nous n'assumons aucune responsabilité quant au contenu de ces sites tiers.</p>

    <h2>Limitation de responsabilité</h2>
    <p>Dans toute la mesure permise par la loi, AMIEL Zeitoun décline toute responsabilité pour les dommages directs, indirects, accessoires, spéciaux ou consécutifs résultant de votre accès ou de votre utilisation de ce site.</p>

    <h2>Modifications des conditions d'utilisation</h2>
    <p>Nous nous réservons le droit de modifier ces conditions d'utilisation à tout moment. Veuillez consulter cette page régulièrement pour être informé des changements éventuels.</p>

    <h2>Contact</h2>
    <p>Pour toute question concernant ces conditions d'utilisation, veuillez nous contacter à <a href="mailto:chatterie.british.kingdom@gmail.com"><span [innerHTML]="'chatterie.british.kingdom' + '&#64;' + 'gmail.com'"></span></a>.</p>
</div>

<br><br><br>

<!-- <app-footer-accueil></app-footer-accueil> -->
