<!-- <div class="caroussel-bloc">
<app-caroussel [bannerSection]="banner"></app-caroussel>

</div>
 -->

<h3 class="title" [ngStyle]="dynamicStyles().title" *ngIf="porteeDisponible()">Nous avons des chatons disponible !</h3>
<h3 class="title" [ngStyle]="dynamicStyles().title" *ngIf="!porteeDisponible()">Pas de portee disponible pour le moment.
</h3>

<div *ngFor="let info of porteInfo(); let i = index">
  <div class="box">
    <h3 class="name" [ngStyle]="dynamicStyles().info1">Parents: {{info?.nameFemale}} et {{info.nameMale}}</h3>
    <h2 class="name" [ngStyle]="dynamicStyles().info2" *ngIf="info?.nbrMale>0 || info.nbrFemale>0">Née le
      {{info.dateOfBirth}} </h2>


    <div [ngStyle]="dynamicStyles().bordure" class="ligne"> </div>
    <h2 *ngIf="info?.nbrMale>0 || info.nbrFemale>0" [ngStyle]="dynamicStyles().info3" class="description">
      {{info?.nameFemale}} à mis au monde
      {{info?.nbrMale + info.nbrFemale}} chatons {{info?.nbrMale}} mâle et {{info.nbrFemale}}
      femelle</h2>
  </div>

  <!--  <br>
 
   <br>
  -->
  <div class="couple-images-container">
    <img [src]="info?.urlFemale" (click)="redirectToNewUrl(info?.idMaman,'femelles')" alt="Maman"
      class="oval-image" (load)="onImageLoad()">
    <img [src]="env.imgDivers + 'coeur-transparent.png'" alt="Cœur" class="heart-image" (load)="onImageLoad()">
    <img [src]="info?.urlMale" alt="Photo 2" alt="Papa" (click)="redirectToNewUrl(info?.idPapa,'males')"
      class="oval-image second-image" (load)="onImageLoad()">
  </div>



  <br>

  <br>

  <div class="button-row">
    <button mat-raised-button color="primary" [ngStyle]="dynamicStyles().button" class="custom-button"
      (click)="redirigerVersPortee(info)">Voir la
      portée</button>
    <button mat-raised-button color="primary" [ngStyle]="dynamicStyles().button" class="custom-button2"
      (click)="redirigerVersConditions()">Conditions de
      vente</button>
    <button mat-raised-button color="primary" [ngStyle]="dynamicStyles().button" class="custom-button2"
      (click)="faireDefilerVersBas()">Préparer son
      arrivée</button>


  </div>

  <div [ngStyle]="dynamicStyles().bordure" class="ligne2"> </div>





</div>