<!-- livre-dor.component.html -->
<div class="livre-dor">
  <!-- <h2 class="titre">Vous avez adopter un chaton dans notre Chatterie</h2> -->
  <h2 class="titre" [ngStyle]="dynamicStyles().title">{{data()?.titlePagelivreDor}} </h2>
  <br>


  <div class="logo-div">
    <img src="assets/OIG4.jpeg" class="logoSrc" alt="Description de l'image">
  </div>

  <br>

  <div class="formulaire">
    <form (submit)="ajouterTemoignage()">
      <div>
        <label for="nom"></label>
        <input type="text" id="nom" name="nom" placeholder="Votre nom" [(ngModel)]="newAvis().name" required>
      </div>
      <div>
        <label for="message"></label>
        <textarea id="message" name="message" placeholder="Votre message" [(ngModel)]="newAvis().message" required
          class="large-textarea"></textarea>
      </div>
      <button type="submit" [ngClass]="validationVerif()" [ngStyle]="dynamicStyles().textButton">Envoyer</button>
    </form>
  </div>

  <div class="temoignages">
    <div class="temoignage" *ngFor="let avi of avis()">
      <div class="auteur">
        <div class="nom">{{ avi.name }}</div>
        <div class="date">{{ avi.dateofCrea| date: 'dd/MM/yyyy' }}</div>
      </div>
      <div class="message">{{ avi.message }}</div>
    </div>
  </div>
</div>